<div *ngIf="!(spaceXDetails$ | async)">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="wrapper" *ngIf="spaceXDetails$">
  <div class="cards_wrap">
    <div class="card_item" *ngFor="let spaceXDetail of spaceXDetails$ | async">
      <div class="card_inner">
        <div class="card_top">
          <img [src]="spaceXDetail.links.mission_patch_small" alt="car" />
        </div>
        <div class="card_bottom">
          <div class="card_category title">
            {{ spaceXDetail.mission_name }} #{{ spaceXDetail.flight_number }}
          </div>
          <div class="row">
            <div class="ml-2 mr-4 sub-details">Launch Year:</div>
            <div>{{ spaceXDetail.launch_year }}</div>
          </div>
          <div class="row">
            <div class="ml-2 mr-4 sub-details">SuccessFull Launch:</div>
            <div>{{ spaceXDetail.launch_success }}</div>
          </div>
          <div class="row">
            <div class="ml-2 mr-4 sub-details">SuccessFull Landing:</div>
            <div>{{ spaceXDetail.launch_success }}</div>
          </div>
          <div class="row">
            <div class="ml-2 mr-4 sub-details">Launch Date:</div>
            <div>{{ spaceXDetail.launch_date_utc | date }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
